* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

/*  start overview */
nav {
    height: 800px;
    width: 220px;
    position: absolute;

    background: white;

    margin-left: 8px;
    margin-top: 58px;


}

nav ul {
    position: relative;
    list-style-type: none;
    position: absolute;

}

nav ul li a {
    display: flex;
    align-items: center;
    color: #42526E;

    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
    /* font-family: 'MYRIAD-PRO'; */
    padding: 15px 15px;
    height: 50px;
    margin-left: -10px;
    margin-top: 10px;
    transition: .1s ease;

}

nav ul li a:hover {
    background: rgb(231, 240, 248);
    color: #3BB161;
    width: 200px;
    margin-left: -25px;
    border-radius: 12px;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: 700;
}

/*  end overview */


/* fees & payment dropdown */
nav ul ul {
    position: absolute;
    left: 200px;
    background-color: rgb(224, 218, 218);
    margin-top: -55px;
    margin-left: -13px;
    font-size: 15px;
    width: 230px;
    /* font-family: 'MYRIAD-SEMIBOLD'; */
    display: none;
    /* background: #3BB161; */
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    color: gray;


}


nav ul ul span {

    right: 50px;
    font-size: 1.5em;
}


nav ul .dropdown:hover ul {
    display: initial;
    color: lightgrey;
}

/* end fees & payment  */



/* start tax challan */

nav ul ul {
    position: absolute;
    left: 200px;
    color: #42526E;
    margin-top: 100px;
    /* font-family: 'MYRIAD-SEMIBOLD'; */
    margin-left: -13px;
    font-size: 15px;
    width: 230px;
    display: none;
    background: rgba(197, 199, 197, 0.918);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}


nav ul ul span {

    right: 50px;
    font-size: 1.5em;
}

nav ul .dropdown5 {
    position: relative;
}

nav ul .dropdown5:hover ul {
    display: initial;
}

/* end tax challan */

/* start document */

nav ul ul {
    position: absolute;
    left: 200px;
    color: #42526E;
    margin-top: -200px;
    margin-left: -13px;
    font-size: 15px;
    width: 230px;
    display: none;
    background: rgba(232, 247, 234, 0.918);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

nav ul ul span {

    right: 50px;
    font-size: 1.5em;
}

nav ul .dropdown2 {
    position: relative;
}

nav ul .dropdown2:hover ul {
    display: initial;
}

/* end document */



/* start acknowlegemnt */


nav ul ul {
    position: absolute;
    left: 200px;
    color: #004C8F;
    margin-top: -200px;
    margin-left: -13px;
    font-size: 15px;
    width: 230px;
    display: none;
    background: rgba(232, 247, 234, 0.918);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

nav ul ul span {

    right: 50px;
    font-size: 1.5em;
}

nav ul .dropdown1 {
    position: relative;
}

nav ul .dropdown1:hover ul {
    display: initial;
}

/* end acknowlegdement */


/* start compliance */

nav ul ul {
    position: absolute;
    left: 200px;
    color: #42526E;
    margin-top: -200px;
    margin-left: -13px;
    font-size: 15px;
    width: 230px;
    display: none;
    background: rgba(232, 247, 234, 0.918);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

nav ul ul span {

    right: 50px;
    font-size: 1.5em;
}

nav ul .dropdown3 {
    position: relative;
}

nav ul .dropdown3:hover ul {
    display: initial;
}

/* end compliance */


/* start account */



nav ul ul {
    position: absolute;
    left: 200px;
    color: #42526E;
    margin-top: -80px;
    margin-left: -13px;
    font-size: 15px;
    width: 230px;
    display: none;
    background: rgba(232, 247, 234, 0.918);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

nav ul ul span {

    right: 50px;
    font-size: 1.5em;
}

nav ul .dropdown4 {
    position: relative;
}

nav ul .dropdown4:hover ul {
    display: initial;
}



/* end account */




body {
    background-color: #E6E6E6;



}

.div1 {
    background-color: #3BB161;
    height: 85px;
    width: 1385px;
}

.div2 {
    margin-top: -110px;
    margin-left: 30px;
}

.div20 input {
    height: 35px;
    width: 210px;
    margin-top: -77px;
    margin-left: 1000px;
    /* opacity: 0.3; */
    font-family: 'MYRIAD PRO';
    position: absolute;
    border-radius: 8px 8px 8px 8px;
    border: none;
    background-color: rgb(30, 119, 27);
    color: white;
    font-size: 14px;

}

::placeholder {
    color: white;
}

.div3 h6 {
    height: 30px;
    width: 40px;
    color: white;
    margin-left: 1253px;
    margin-top: -69px;
    position: absolute;
    font-size: 14px;
}

.div4 h5 {
    margin-left: 1293px;
    margin-top: -76px;
    color: white;
    position: absolute;



}

.div33 {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 1243px;
    /* color: black; */
    /* position: absolute; */
    margin-top: -78px;
    border: 1px solid black;
    background-color: rgb(30, 119, 27);
    border: none;

}

.div34 {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 1285px;
    margin-top: -36px;
    border: 1px solid black;
    background-color: rgb(30, 119, 27);
    border: none;
}

.div36 {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: red;
    border: none;
    margin-left: 1267px;
    margin-top: -36px;
}

.div101 h6 {
    margin-left: 1330px;
    margin-top: 1px;
    position: absolute;
    color: white;
}




/*  */

.div7 {
    margin-left: 270px;
    margin-top: 80px;
}

.div8 {
    margin-left: 270px;
    height: 700px;
    width: 550px;
    background-color: white;
    margin-top: 40px;
    border-radius: 25px;
}

.div9 {
    margin-left: 300px;
    margin-top: -680px;
}

#fname {
    height: 37px;
    width: 170px;
    position: absolute;
    margin-left: 300px;
    margin-top: 221px;
    text-align: center;
    border-radius: 14px 0px 0px 14px;
    border: 1px solid;
}

.div10 {
    margin-left: 340px;
    margin-top: 227px;
    position: absolute;
    font-size: 14px;
    color: #42526E;
}



#fname1 {
    height: 37px;
    width: 170px;
    position: absolute;
    margin-left: 460px;
    margin-top: 221px;
    text-align: center;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid;
}


.div11 {
    margin-left: 510px;
    margin-top: 228px;
    /* height: 30px; */
    /* width: 50px; */
    position: absolute;
    font-size: 14px;
    color: #42526E;
}

#fname2 {
    height: 37px;
    width: 170px;
    position: absolute;
    margin-left: 625px;
    margin-top: 221px;
    text-align: center;
    border-radius: 0px 14px 14px 0px;
    border: 1px solid;
}

.div12 {
    margin-left: 660px;
    margin-top: 227px;
    /* height: 30px; */
    /* width: 50px; */
    position: absolute;
    font-size: 14px;
    color: #42526E;
}

#fname3 {
    margin-left: 300px;
    margin-top: 290px;
    position: absolute;
    width: 495px;
    height: 43px;
    border-radius: 23px;
    border: 1px solid;

}

#fname3::placeholder {
    color: #42526E;
}


#fname4 {
    height: 43px;
    width: 493px;
    position: absolute;
    margin-left: 300px;
    margin-top: 360px;
    border-radius: 23px;
    border: 1px solid;

}

#fname4::placeholder {
    color: #42526E;
}

.div16 h5 {
    margin-left: 750px;
    margin-top: 370px;
    position: absolute;
    font-size: 20px;
}

#fname5 {
    height: 43px;
    width: 493px;
    position: absolute;
    margin-left: 300px;
    margin-top: 430px;
    border-radius: 23px;
    border: 1px solid;

}

#fname5::placeholder {
    color: #42526E;
}

.div17 h5 {
    margin-left: 750px;
    margin-top: 438px;
    position: absolute;
    font-size: 20px;
}

.div22 h6 {
    margin-left: 300px;
    margin-top: 290px;
    font-size: 14px;
    color: #42526E;
}

#fname6 {
    height: 43px;
    width: 493px;
    position: absolute;
    margin-left: 300px;
    margin-top: 520px;
    border-radius: 23px;
    border: 1px solid;

}

#fname6::placeholder {
    color: #42526E;
}

#fname7 {
    height: 43px;
    width: 493px;
    position: absolute;
    margin-left: 300px;
    margin-top: 590px;
    border-radius: 23px;
    border: 1px solid;

}

#fname7::placeholder {
    color: #42526E;
}

#fname8 {
    height: 43px;
    width: 493px;
    position: absolute;
    margin-left: 300px;
    margin-top: 660px;
    border-radius: 23px;
    border: 1px solid;

}

#fname8::placeholder {
    color: #42526E;
}

.div21 h5 {
    margin-left: 750px;
    margin-top: 666px;
    position: absolute;
}

.div13 .btn-success {
    background-color: #004C8F;
    width: 140px;
    margin-left: 300px;
    margin-top: 260px;
    border-radius: 23px
}

.div14 .btn-success {
    background-color: #004C8F;
    width: 140px;
    margin-left: 460px;
    margin-top: -65px;
    border-radius: 23px
}


@media only screen and (max-width:768px) {
    .div20 {
        height: 30px;
        width: 230px;
        margin-top: -77px;
        margin-left: 456px;
        background-color: #3BB161;
    }

    .div3 {
        background-color: white;
        border-radius: 170%;
        padding: 10px;
        height: 37px;
        width: 40px;
        margin-left: 676px;
        margin-top: -38px;
        background-color: #3BB161;
        /* border: 1px solid black; */
    }

    .div4 {
        margin-left: 722px;
        margin-top: -32px;
    }

    nav {
        height: 700px;
        width: 220px;
        position: absolute;
        background: white;
        margin-left: -2px;
        margin-top: 23px;
    }

    .div1 {
        background-color: #3BB161;
        height: 85px;
        width: 771px;
    }

    .div7 {
        margin-left: 237px;
        margin-top: 50px;
    }

    .div8 {
        margin-left: 230px;
        height: 700px;
        width: 534px;
        background-color: white;
        margin-top: 40px;
        border-radius: 25px;
    }

    .div9 {
        margin-left: 266px;
        margin-top: -680px;
    }

    #fname {
        height: 37px;
        width: 170px;
        position: absolute;
        margin-left: 260px;
        margin-top: 20px;
        text-align: center;
        border-radius: 14px 0px 0px 14px;
    }

    .div10 {
        margin-left: 309px;
        margin-top: 27px;
        position: absolute;
        font-size: 14px;
    }

    #fname1 {
        height: 37px;
        width: 170px;
        position: absolute;
        margin-left: 423px;
        margin-top: 20px;
        text-align: center;
        border-radius: 0px 0px 0px 0px;
    }

    .div11 {
        margin-left: 475px;
        margin-top: 27px;
        /* height: 30px; */
        /* width: 50px; */
        position: absolute;
        font-size: 14px;
    }

    #fname2 {
        height: 37px;
        width: 170px;
        position: absolute;
        margin-left: 584px;
        margin-top: 20px;
        text-align: center;
        border-radius: 0px 14px 14px 0px;
    }

    .div12 {
        margin-left: 627px;
        margin-top: 27px;
        /* height: 30px; */
        /* width: 50px; */
        position: absolute;
        font-size: 14px;
    }

    #fname3 {
        height: 43px;
        width: 493px;
        position: absolute;
        margin-left: 259px;
        margin-top: 90px;
        border-radius: 14px 14px 14px 14px;
    }

    .div15 h6 {
        margin-left: 267px;
        margin-top: 100px;
        position: absolute;
        font-size: 14px;
    }

    #fname4 {
        height: 43px;
        width: 493px;
        position: absolute;
        margin-left: 259px;
        margin-top: 167px;
        border-radius: 14px 14px 14px 14px;
    }

    .div16 h6 {
        margin-left: 270px;
        margin-top: 180px;
        position: absolute;
        font-size: 14px;
    }

    .div16 h5 {
        margin-left: 714px;
        margin-top: 175px;
        position: absolute;
        font-size: 20px;
    }

    #fname5 {
        height: 43px;
        width: 493px;
        position: absolute;
        margin-left: 260px;
        margin-top: 240px;
        border-radius: 14px 14px 14px 14px;
    }

    .div17 h6 {
        margin-left: 268px;
        margin-top: 250px;
        position: absolute;
        font-size: 14px;
    }

    .div17 h5 {
        margin-left: 715px;
        margin-top: 250px;
        position: absolute;
        font-size: 20px;
    }

    .div22 h6 {
        margin-left: 265px;
        margin-top: 300px;
        font-size: 14px;
    }

    #fname6 {
        height: 43px;
        width: 493px;
        position: absolute;
        margin-left: 259px;
        margin-top: 10px;
        border-radius: 14px 14px 14px 14px;
    }

    .div18 h6 {
        margin-left: 266px;
        margin-top: 20px;
        position: absolute;
        font-size: 14px;
    }

    #fname7 {
        height: 43px;
        width: 493px;
        position: absolute;
        margin-left: 258px;
        margin-top: 82px;
        border-radius: 14px 14px 14px 14px;
    }

    .div19 h6 {
        margin-left: 264px;
        margin-top: 592px;
        position: absolute;
        font-size: 14px;
    }

    #fname8 {
        height: 43px;
        width: 493px;
        position: absolute;
        margin-left: 259px;
        margin-top: 660px;
        border-radius: 14px 14px 14px 14px;
    }

    .div21 h6 {
        margin-left: 267px;
        margin-top: 670px;
        position: absolute;
    }

    .div21 h5 {
        margin-left: 714px;
        margin-top: 670px;
        position: absolute;
    }

    .div13 .btn-success {
        background-color: #004C8F;
        width: 140px;
        margin-left: 262px;
        margin-top: 760px;
        border-radius: 14px 14px 14px 14px;
    }

    .div14 .btn-success {
        background-color: #004C8F;
        width: 140px;
        margin-left: 453px;
        margin-top: -65px;
        border-radius: 14px 14px 14px 14px;
    }
}

@media only screen and (max-width:425px) {
    .div6 {
        display: none;
    }

    .div20 {
        display: none;
    }

    .div3 {
        display: none;
    }

    .div4 {
        display: none;
    }

    .div7 {
        margin-left: 45px;
        margin-top: 24px;

    }

    .div7 h4 {
        font-size: 22px;
    }

    .div8 {
        margin-left: 39px;
        height: 760px;
        width: 706px;
        background-color: white;
        margin-top: 40px;
        border-radius: 25px;
    }

    .div9 {
        margin-left: 101px;
        margin-top: -729px;
    }

    .div9 h5 {
        font-size: 22px;
    }

    #fname {
        height: 37px;
        width: 213px;
        position: absolute;
        margin-left: 99px;
        margin-top: 20px;
        text-align: center;
        border-radius: 14px 0px 0px 14px;
    }

    .div10 {
        margin-left: 162px;
        margin-top: 25px;
        position: absolute;
        font-size: 16px;
    }

    #fname1 {
        height: 37px;
        width: 188px;
        position: absolute;
        margin-left: 310px;
        margin-top: 20px;
        text-align: center;
        border-radius: 0px 0px 0px 0px;
    }

    .div11 {
        margin-left: 360px;
        margin-top: 26px;
        /* height: 30px; */
        /* width: 50px; */
        position: absolute;
        font-size: 16px;
    }

    #fname2 {
        height: 37px;
        width: 190px;
        position: absolute;
        margin-left: 492px;
        margin-top: 20px;
        text-align: center;
        border-radius: 0px 14px 14px 0px;
    }

    .div12 {
        margin-left: 522px;
        margin-top: 27px;
        /* height: 30px; */
        /* width: 50px; */
        position: absolute;
        font-size: 16px;
        display: inline;
    }

    #fname3 {
        height: 43px;
        width: 591px;
        position: absolute;
        margin-left: 97px;
        margin-top: 90px;
        border-radius: 14px 14px 14px 14px;
    }

    .div15 h6 {
        margin-left: 102px;
        margin-top: 100px;
        position: absolute;
        font-size: 18px;
    }

    #fname4 {
        height: 43px;
        width: 586px;
        position: absolute;
        margin-left: 98px;
        margin-top: 167px;
        border-radius: 14px 14px 14px 14px;
    }

    .div16 h6 {
        margin-left: 112px;
        margin-top: 177px;
        position: absolute;
        font-size: 18px;
    }

    .div16 h5 {
        margin-left: 646px;
        margin-top: 175px;
        position: absolute;
        font-size: 20px;
    }

    #fname5 {
        height: 43px;
        width: 583px;
        position: absolute;
        margin-left: 102px;
        margin-top: 240px;
        border-radius: 14px 14px 14px 14px;
    }

    .div17 h6 {
        margin-left: 116px;
        margin-top: 250px;
        position: absolute;
        font-size: 18px;
    }

    .div17 h5 {
        margin-left: 646px;
        margin-top: 250px;
        position: absolute;
        font-size: 20px;
    }

    .div22 h6 {
        margin-left: 107px;
        margin-top: 300px;
        font-size: 15px;
    }

    #fname6 {
        height: 43px;
        width: 583px;
        position: absolute;
        margin-left: 103px;
        margin-top: 10px;
        border-radius: 14px 14px 14px 14px;
    }

    .div18 h6 {
        margin-left: 121px;
        margin-top: 20px;
        position: absolute;
        font-size: 18px;
    }

    #fname7 {
        height: 43px;
        width: 585px;
        position: absolute;
        margin-left: 101px;
        margin-top: 82px;
        border-radius: 14px 14px 14px 14px;
    }

    .div19 h6 {
        margin-left: 118px;
        margin-top: 592px;
        position: absolute;
        font-size: 18px;
    }

    #fname8 {
        height: 43px;
        width: 579px;
        position: absolute;
        margin-left: 104px;
        margin-top: 660px;
        border-radius: 14px 14px 14px 14px;
    }

    .div21 h6 {
        margin-left: 121px;
        margin-top: 670px;
        position: absolute;
        font-size: 18px;
    }

    .div21 h5 {
        margin-left: 641px;
        margin-top: 670px;
        position: absolute;
    }

    .div13 .btn-success {
        background-color: #004C8F;
        width: 140px;
        margin-left: 106px;
        margin-top: 760px;
        border-radius: 14px 14px 14px 14px;
    }

    .div14 .btn-success {
        background-color: #004C8F;
        width: 140px;
        margin-left: 300px;
        margin-top: -65px;
        border-radius: 14px 14px 14px 14px;
    }
}

@media only screen and (max-width:375px) {
    .div8 {
        margin-left: 39px;
        height: 884px;
        width: 706px;
        background-color: white;
        margin-top: 40px;
        border-radius: 25px;
    }

    .div7 h4 {
        font-size: 26px;
    }

    .div9 h5 {
        font-size: 27px;
    }

    .div9 {
        margin-left: 101px;
        margin-top: -849px;
    }

    #fname {
        height: 43px;
        width: 213px;
        position: absolute;
        margin-left: 99px;
        margin-top: 20px;
        text-align: center;
        border-radius: 14px 0px 0px 14px;
    }

    .div10 {
        margin-left: 162px;
        margin-top: 28px;
        position: absolute;
        font-size: 18px;
    }

    #fname1 {
        height: 43px;
        width: 188px;
        position: absolute;
        margin-left: 310px;
        margin-top: 20px;
        text-align: center;
        border-radius: 0px 0px 0px 0px;
    }
}