* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

/*  start overview */
nav {
    height: 700px;
    width: 220px;
    position: absolute;

    background: white;

    margin-left: -10px;
    margin-top: 50px;


}

nav ul {
    position: relative;
    list-style-type: none;
    position: absolute;

}

nav ul li a {
    display: flex;
    align-items: center;
    color: #42526E;

    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
    /* font-family: 'MYRIAD-PRO'; */
    padding: 15px 15px;
    height: 50px;
    margin-left: -10px;
    margin-top: 10px;
    transition: .1s ease;

}

nav ul li a:hover {
    background: rgb(231, 240, 248);
    color: #3BB161;
    width: 200px;
    margin-left: -20px;
    border-radius: 12px;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: 700;
}

/*  end overview */


/* fees & payment dropdown */
nav ul ul {
    position: absolute;
    left: 200px;
    background-color: rgb(224, 218, 218);
    margin-top: -55px;
    margin-left: -13px;
    font-size: 15px;
    width: 230px;
    /* font-family: 'MYRIAD-SEMIBOLD'; */
    display: none;
    /* background: #3BB161; */
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    color: gray;


}


nav ul ul span {

    right: 50px;
    font-size: 1.5em;
}


nav ul .dropdown:hover ul {
    display: initial;
    color: lightgrey;
}

/* end fees & payment  */



/* start tax challan */

nav ul ul {
    position: absolute;
    left: 200px;
    color: #42526E;
    margin-top: 100px;
    /* font-family: 'MYRIAD-SEMIBOLD'; */
    margin-left: -13px;
    font-size: 15px;
    width: 230px;
    display: none;
    background: rgba(197, 199, 197, 0.918);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}


nav ul ul span {

    right: 50px;
    font-size: 1.5em;
}

nav ul .dropdown5 {
    position: relative;
}

nav ul .dropdown5:hover ul {
    display: initial;
}

/* end tax challan */

/* start document */

nav ul ul {
    position: absolute;
    left: 200px;
    color: #42526E;
    margin-top: -200px;
    margin-left: -13px;
    font-size: 15px;
    width: 230px;
    display: none;
    background: rgba(232, 247, 234, 0.918);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

nav ul ul span {

    right: 50px;
    font-size: 1.5em;
}

nav ul .dropdown2 {
    position: relative;
}

nav ul .dropdown2:hover ul {
    display: initial;
}

/* end document */



/* start acknowlegemnt */


nav ul ul {
    position: absolute;
    left: 200px;
    color: #004C8F;
    margin-top: -200px;
    margin-left: -13px;
    font-size: 15px;
    width: 230px;
    display: none;
    background: rgba(232, 247, 234, 0.918);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

nav ul ul span {

    right: 50px;
    font-size: 1.5em;
}

nav ul .dropdown1 {
    position: relative;
}

nav ul .dropdown1:hover ul {
    display: initial;
}

/* end acknowlegdement */


/* start compliance */

nav ul ul {
    position: absolute;
    left: 200px;
    color: #42526E;
    margin-top: -200px;
    margin-left: -13px;
    font-size: 15px;
    width: 230px;
    display: none;
    background: rgba(232, 247, 234, 0.918);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

nav ul ul span {

    right: 50px;
    font-size: 1.5em;
}

nav ul .dropdown3 {
    position: relative;
}

nav ul .dropdown3:hover ul {
    display: initial;
}

/* end compliance */


/* start account */



nav ul ul {
    position: absolute;
    left: 200px;
    color: #42526E;
    margin-top: -80px;
    margin-left: -13px;
    font-size: 15px;
    width: 230px;
    display: none;
    background: rgba(232, 247, 234, 0.918);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

nav ul ul span {

    right: 50px;
    font-size: 1.5em;
}

nav ul .dropdown4 {
    position: relative;
}

nav ul .dropdown4:hover ul {
    display: initial;
}



/* end account */



body {
    background-color: #E6E6E6;



}

.div1 {
    background-color: #3BB161;
    height: 70px;
    width: 1385px;
}

.div2 {
    margin-top: -63px;
    margin-left: 20px;
}

.div16 input {
    height: 30px;
    width: 220px;
    margin-top: -43px;
    margin-left: 920px;
    /* opacity: 0.3; */
    font-family: 'MYRIAD PRO';
    position: absolute;
    border-radius: 8px 8px 8px 8px;
    border: #3e7e52;

    color: white;
    font-size: 14px;
    background-color: #3e7e52;

}

::placeholder {
    color: white;
}

.div3 h6 {
    height: 30px;
    width: 40px;
    color: white;
    margin-left: 1183px;
    margin-top: -38px;
    position: absolute;
    font-size: 14px;
}

.div4 h5 {
    margin-left: 1230px;
    margin-top: -44px;
    color: white;
    position: absolute;



}

.div15 {
    height: 40px;
    width: 40px;
    /* border-radius: 50%; */
    margin-left: 1170px;
    /* color: black; */
    /* position: absolute; */
    margin-top: -50px;
    border: 1px solid black;
    background-color: #3e7e52;
    border: none;
    padding: 7px 5px;
    border-radius: 200px;

}

.div17 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 1220px;
    margin-top: -40px;
    border: 1px solid black;
    background-color: #3e7e52;
    border: none;
    padding: 7px 5px;
    border-radius: 200px;
    border: none;
}

.div18 {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: red;
    border: none;
    margin-left: 1200px;
    margin-top: -38px;
}

.div101 h5 {
    margin-left: 1270px;
    margin-top: 1px;
    position: absolute;
    color: white;
}



/*  */

.div10 {
    margin-left: 270px;
    margin-top: 75px;
    color: #253858;
    font-size: 23px;
    font-family: 'MYRIAD PRO';

}

.div11 {
    margin-left: 270px;
    font-size: 14px;
    font-family: 'MYRIAD PRO';
}

.btn-success {
    margin-left: 270px;
    margin-top: 30px;
    height: 35px;
    width: 170px;
    font-size: 14px;
}

.div12 {
    position: absolute;
    margin-left: 1230px;
    margin-top: -240px;
}


/* start footer */
.last-div {
    background-color: rgb(204, 204, 204);
    font-family: "Myriad Pro";
    text-align: center;
    padding: 10px 0px;
    height: 40px;
    margin-top: 463px;
}

/* end footer */